<h1 mat-dialog-title>Edit password</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
        <mat-error *ngIf="password.invalid">Please provide a new password</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close class="btn btn-primary" (click)="onCancelEditPassword()">
        <mat-icon>cancel</mat-icon>
    </button>
    <button mat-button class="btn btn-primary ms-2" [mat-dialog-close]="'coucou'">
        <mat-icon>done</mat-icon>
    </button>
</div>